body {
    margin-top:90px;
    background-color:#f5f5f5;
}

.wBox {
    background-color:#fff;
    border-radius:3px;
    box-shadow:1px 1px 10px rgba(0,0,0,0.4);
}

.eBox {
    box-shadow:none;
    outline-style: dashed;
    outline-color: #ccc;
}
.eBox:hover {
    outline-style: solid;
    outline-color: rgba(99,160,255,0.5);
    box-shadow:0px 0px 10px rgba(99,160,255,0.9);
}

.relative{
    position:relative;
}

small {
    color:#aaa;
}

.ajs-message {
    /* ajs-success ajs-visible */
    color:#fff;
}

.fullscreenInterface{
    position:fixed;
    top:80px;
    right:15px;
    bottom:0;
    left:17px;
    z-index:1000;
}

.modal-content{
    box-shadow:0 0 32px rgba(0,0,0,0.5);
}

.modal-backdrop{
    display:none;
}





.disabled{
    opacity:0.8;
    pointer-events: none;
}




.body-export *{
    max-width:660px!important;
}
.body-export {
    margin:0;
    background-color:#fff;
    width:660px;
    max-width:660px;
}

.body-export .conversationRow{
    width:660px;
}

.body-export .media{
    margin:0;
}

.body-export .tweet-container, .body-export .tweetsContainer{
    margin:0!important;
}

.body-export .legend-container {
    margin-top:0!important;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
}

.body-export .wBox{
    border-bottom:1px solid #eee;
    width:640px!important;
    min-width:640px!important;
    max-width:640px!important;
    box-shadow:none;
    margin-bottom:0!important;
}

.body-export .line{
    display:none!important;
}

.body-export .tweetMedia{
    max-width:100px!important;
    display:inline-block;
}

/*
.body-export .rootTweetComment{
    position:absolute;
    top:0;
    right:0;
}
*/








.btn-xs {
    padding: 6px 9px;
    font-size: 12px;
}


input[type=radio]::before{
    margin-top:1px;
}

input[type=checkbox]::before{
    top:2px!important;
}

